body{
    
    display:flex;
    background-color: grey;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    
   
}
.card{
    background-color: black;
    width: 300px;
    height: auto;
    margin: 1em;
    border:5px solid yellow ;
    border-radius: 2em;
       
}

.card-img-top{
    height: 200px;
    width: 300px;
    border-bottom:2px solid gold ;
    border-radius: 2em 2em 0 0;

}
.card-body{
    margin-left: 1em;
    color: yellow;